<section>
    <div class="float-end me-5 mt-3 mb-5" >
        <a class="btn bg-success" href="/admin/add-products">Add Product</a>
    </div>
    <div class="container">
        <table class="table" id="myTable" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td scope="row">{{inc @index}}</td>
      <td>{{this._id}}</td>
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  } );
</script>